/* 

--- 01 TYPOGRAPHY SYSTEM
	-FONT SIZE SYSTEM (px):
    12 / 14 / 16 / 20 / 24 / 32 / 40

  -FONT WEIGHTS:
    Regular:  400
    Medium:   500
    SemiBold: 600
    Bold:     700

  -LINE HEIGHTS:
    Small:  1.2
    Medium: 1.3
    Large:  1.4
  
  -LETTER SPACINGS:
    Default: 0
    Medium:  -3%
  
  -BORDER RADIUS (px):
    0 / 4 / 6 / 8 / 10 / 12 / 16 / 20 / 24 / 999

--- 02 COLOURS
  Accent Colours:
    --yellow-500: #f8cb46;
    --blue-400: #92adeb;
    --blue-600: #5072c7;
    --teal-400: #47d9c9;
    --pink-400: #fc8ae5;
    --pink-500: #f073a3;
    --pink-700: #e11966;

  Neutral: 
    --neutral-900: #2e1401;
    --neutral-600: #6d5b4d;
    --neutral-100: #f7f3f0;
    --neutral-0: #ffffff;
  
--- 03 WHITESPACE
  -SPACING SYSTEM (px):
    0 / 2 / 4 / 6 / 8 / 10 / 12 / 16 / 20 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 112 / 128 / 140
*/

/* GLOBAL */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--yellow-500: #f8cb46;
	--blue-400: #92adeb;
	--blue-600: #5072c7;
	--teal-400: #47d9c9;
	--pink-400: #fc8ae5;
	--pink-500: #f073a3;
	--pink-700: #e11966;
	--neutral-900: #2e1401;
	--neutral-600: #6d5b4d;
	--neutral-100: #f7f3f0;
	--neutral-0: #ffffff;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
	padding: 2.4rem 10rem;
	background-color: var(--neutral-100);
}

hr {
	height: 1px;
	background-color: var(--neutral-900);
	border: none;
}

/*-------------------TEXT-------------------*/
.text--preset-1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 4rem;
	line-height: 1.2;
	letter-spacing: 0px;
}
/*
FOR TABLET
.text--preset-1 {
	font-size: 3.2rem;
}
FOR MOBILE
.text--preset-1 {
	font-size: 2.4rem;
}
*/

.text--preset-2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 1.2;
	letter-spacing: 0px;
}

.text--preset-3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.2;
	letter-spacing: 0px;
}

.text--preset-4-semi {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1.2;
	letter-spacing: 0px;
}

.text--preset-4-medium {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.2;
	letter-spacing: 0px;
}

.text--preset-4-regular {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.2;
	letter-spacing: 0px;
}

.text--preset-5-medium {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.4;
	letter-spacing: 0px;
}

.text--preset-5-regular {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.4;
	letter-spacing: 0px;
}

.text--preset-6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.3;
	letter-spacing: -3%;
}
/*------------------------------------------*/

/*------------------BUTTON------------------*/
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	color: var(--neutral-900);
	border: 1px solid var(--neutral-900);
	opacity: 100%;
	border-radius: 999px;
}

/* STATES */
.btn--primary-disabled {
	opacity: 50%;
}

.btn--primary:hover:not([disabled]),
.btn--secondary:hover {
	cursor: pointer;
	box-shadow: 4px 4px 0 0 var(--neutral-900);
}

.btn--primary:focus:not([disabled]),
.btn--secondary:focus {
	outline: none;
	box-shadow: 3px 3px 0 0 var(--blue-600);
}

.btn--border:hover {
	cursor: pointer;
	background-color: var(--neutral-100);
}

.btn--border:focus {
	outline: 2px solid var(--blue-600);
	outline-offset: 2px;
}
/*---------------*/

.btn--primary,
.btn--secondary {
	padding: 1.2rem 2rem;
	box-shadow: 2px 2px 0 0 var(--neutral-900);
}

.btn--secondary,
.btn--border {
	background-color: var(--neutral-0);
}

.btn--primary {
	background-color: var(--yellow-500);
}

.btn--border {
	padding: 1.2rem 1.6rem;
}

/*------------------------------------------*/

/*-------------------TABS-------------------*/
.tablist {
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
	padding: 4px 4px;
	border: 1px solid var(--neutral-900);
	border-radius: 999px;
	background-color: var(--neutral-0);
	box-shadow: 1px 2px 0 0 var(--neutral-900);
}

.tab {
	padding: 1.2rem 1.6rem;
	border: 1px solid transparent;
	border-radius: 999px;
	color: var(--neutral-900);
	background-color: var(--neutral-0);
}

.tab:hover {
	cursor: pointer;
	border: 1px solid var(--neutral-900);
}

.tab:focus {
	outline: 2px solid var(--blue-600);
	outline-offset: 2px;
	border: 1px solid var(--neutral-900);
}

.tab--current {
	background-color: var(--yellow-500);
}

.tab--current:hover {
	box-shadow: 2px 2px 0 0 var(--neutral-900);
}
/*------------------------------------------*/
